/*
http://a.tbcdn.cn/??
apps/et/common/widgets/suggest/css/trip-autocomplete.css,
apps/et/common/widgets/calendar/css/calendar.v1.1.css,
apps/et/common/widgets/box/css/box.css
*/

/*
*author : Shuke.cl
*trip-autocomplete.css
*/
.yui3-acinput , .yui3-trip-submit , .yui3-acinput-icon{background: url(http://img02.taobaocdn.com/tps/i2/T1EPyLXm0hXXXXXXXX-200-100.png) no-repeat;}
.yui3-acinput-box{position: relative;display: inline-block;float:left;}
.yui3-acinput-icon{position: absolute;right:5px;height:15px;width:20px;top:5px;background-position: 0 0;}
.yui3-acinput {
    border: 1px solid #a1a1a1;
    padding: 2px;
    line-height: 22px;
    height: 22px;
    background-position: 100% 100%;
    zoom: 1;
}
.yui3-aclist-input{
    outline: none;
}
.yui3-acinput-focus{border-color: #85bee5;}
.yui3-aclist {position: absolute}
.yui3-aclist-hidden {visibility: hidden}
.yui3-aclist .highlight{color:#f60;}
.yui3-aclist-aria {left: -9999px;position: absolute}
.yui3-aclist-list {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	border: 1px solid #85bee5;
	border-right-color: #3485c0;
	border-bottom-color: #3485c0;
}
.yui3-aclist-item {
	cursor: pointer;
	list-style: none;
	clear:both;
  overflow:hidden;
  zoom:1;
  padding: 4px 5px;
	height:16px;
  line-height:normal;
  *display: inline;
}
/*.yui3-aclist-noresult {padding:3px 5px;line-height: 20px;}*/
.yui3-msg-box{
    border: 1px solid #ff7d26;
    background: #fff2e8; 
    padding: 3px;
    color: #666;
    position: relative;
    z-index: 10000;
    zoom:1;
    margin-bottom: -2px;

}
.yui3-aclist-item-active {
	outline: #afafaf dotted thin;
	background:#e3e3e3;
}
.yui3-aclist-content {
	margin-top: -2px;
	*position:relative;
	zoom:1;
	background: #fff;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3); /* Opera 10.5, IE 9.0 */
	*filter:progid:DXImageTransform.Microsoft.Shadow(color=#808080,direction=135,strength=2);
}
.yui3-aclist-item-hover {
	background: #9cd9ff;
	color:#fff;
}
.yui3-aclist-item-active {
	background: #9cd9ff;
	color: #fff;
	outline: 0
}
.yui3-aclist .yui3-highlight{
	color:#f60;
}
.yui3-aclist .ac-cityname {
	float:left;
}
.yui3-aclist .ac-citypy {
	float:right;
	font-family: 'arial';
  max-width:90px;
  overflow: hidden;
  height: 16px;
}
/*脠脠脙脜鲁脟脢脨脩霉脢陆*/
.yui3-acinput-hot-tit{color:#666;line-height: 20px;padding: 0 5px 5px ;}
.yui3-hot-city{padding:5px 0; background:#fff;overflow: hidden;zoom:1;position: relative;
	border: 1px solid #85bee5;
	border-right-color: #3485c0;
	border-bottom-color: #3485c0;}
.yui3-hot-city p{color:#999;line-height:20px;padding: 0 0 8px 0; }
.yui3-hot-city .tab-nav{overflow:hidden; zoom:1;position:relative;z-index:5;padding: 3px 5px 0;height:22px; }
.yui3-hot-city .tab-nav li{float:left;border:1px solid #85bee5;padding:0 5px;margin-right:3px;line-height:20px; cursor:pointer;background:#e1effe; }
.yui3-hot-city .tab-nav li.selected{border-bottom:1px solid #fff;background:#fff; }
.yui3-hot-city .tab-content{border-top:1px solid #85bee5;margin-top:-1px;padding:6px 0 6px;line-height:22px;zoom:1;position: relative;}
.yui3-hot-city .tab-content dt{float:left;padding-left:3px; color:#f30; text-indent: 5px;font-family:"Lucida console","consolas","courier new";line-height: 22px;font-size:14px;}
.yui3-hot-city .tab-content dd{margin-left:15px;overflow:hidden; zoom:1;}
.yui3-hot-city .tab-content dd span{float:left;padding-left:4px;text-align:center;width:66px;text-align: left; }
.yui3-hot-city span a ,.yui3-hot-city span a:visited{color:#404040;padding:0 2px;}
.yui3-hot-city span a:hover{}
.yui3-hot-city .hidden{display:none;}.clearfix:after{
	  content:'\0020';
	  display:block;
	  height:0;
	  clear:both;
}
.clearfix{
	  *zoom:1
}
.shadow{
    -moz-box-shadow:1px 1px 1px #C5C5C5;
    -webkit-box-shadow:1px 1px 1px #C5C5C5;
    box-shadow:1px 1px 1px #C5C5C5;
    *zoom:1;
    *filter:progid:DXImageTransform.Microsoft.Shadow(color=#C5C5C5,direction=135,strength=2);
}
/*.content{
    width:960px;
    margin:200px auto 0px;
}
.content .item{
    margin-bottom:20px;
}*/

.calendar s,.cal-close,.cal-input s{
	  background:url(http://img01.taobaocdn.com/tps/i1/T1IThrXXhwXXXXXXXX-185-65.png) no-repeat 0 0;
}

.calendar{
    position:absolute;
    /*visibility:hidden;*/
    display:none;
    border:1px solid #85BEE5;
    border-right:1px solid #3485c0;
    border-bottom:1px solid #3485c0;
    background:#fff;
    z-index:10002;
}
.calendar iframe{
    position:absolute;
    left:-1px;
    top:-1px;
    filter: Alpha(Opacity=0);
    opacity:0;
    z-index:-1;
}
.calendar-main{
    _display:inline;
    _position:relative;
    padding:20px 35px 14px 22px;
    background:#fff;
}
.oneCalendar{
    position:relative;
    float:left;
    display:inline;
    margin-left:15px;
    padding:0px;
    width:182px;
    _width:183px;
    font-weight:bold;
}
.calendar h5{
    padding-bottom:6px;
    width:182px;
    line-height:1;
    text-align:center;
    color:#404040;
    border-bottom:1px solid #E2E2E2;
}
.calendar s{
    position:absolute;
    display:inline-block;
    top:65px;
    height:38px;
    width:20px;
    text-indent:-2000px;
    cursor:pointer;
}
.calendar .pre{
    left:-28px;
    background-position:0px -25px;
}
.calendar .next{
    right:-27px;
    background-position:-20px -25px;
}
.calendar h6{
    color:#404040;
    font-weight:normal;
}
.calendar h6 span, .calendar h6 em{
    float:left;
    width:26px;
    height:24px;
    line-height:24px;
    text-align:center;
	
	overflow:hidden;
	zoom:1;
}
.calendar h6 em{
   font-weight:bold;
}
.calendar .hidden{
    display:none;
}
.calendar-day{
    _padding-left:1px;
}
.calendar-day li{
    float:left;
    display:inline;
    margin:-1px 0px 0px -1px;
    width:25px;
    height:22px;
    line-height:22px;
    border:1px solid #E4E4E3;
    text-align:center;
	overflow:hidden;
	zoom:1;
}
.end-select .calendar-day a:hover,.end-select .calendar-day .select-date a:hover{
    color:#fff;
    background-color:#E2AD44;/*脩脮脡芦路陆掳赂脨脼赂脛 By angtian.fgm*/
}
.calendar-day a{
     display:block;
     width:25px;
     height:22px;
     color:#404040;
     background:#fff;
}
.calendar-day a:hover,.calendar-day .select-date a:hover{
     color:#fff;
     background-color:#5792DC;/*脩脮脡芦路陆掳赂脨脼赂脛 By angtian.fgm*/
     text-decoration:none;
}
.calendar-day .current,.calendar-day .current:visited,.calendar-day .current:hover{
    text-decoration:underline;
}
.calendar-day .disable{
    color:#dcdcdc;
}
.calendar-day .select-begin-date .disable,.calendar-day .select-begin-date a{
    display:block;
    color:#fff;
    background-color:#5792DC;/*脩脮脡芦路陆掳赂脨脼赂脛 By angtian.fgm*/
}
.calendar-day .select-end-date .disable,.calendar-day .select-end-date a{
    display:block;
    color:#fff;
    background-color:#E2AD44;/*脩脮脡芦路陆掳赂脨脼赂脛 By angtian.fgm*/
}
.calendar-day .select-date .disable,.calendar-day .select-date a{
    display:block;
    background-color:#D9F2FF;/*脩脮脡芦路陆掳赂脨脼赂脛 By angtian.fgm*/
}

.cal-close{
    position:absolute;
	top:8px;
    right:8px;
    text-indent:-2000px;
    overflow:hidden;
    width:17px;
    height:17px;
    background-position:-80px -25px;
    cursor:pointer;
}

/*脳脭露篓脪氓input碌脠脩霉脢陆*/
.cal-input{
    position:relative;
    /*width:180px;
    height:25px;
    color:#404040;*/
}
.cal-input .week{
    position:absolute;
    top:20%;
    top:20%\9;
    right:5px;
	height:15px;
    line-height:15px;
    overflow:hidden;
	padding-right:25px;
	color:#A1A1A1;/*脩脮脡芦路陆掳赂脨脼赂脛 By angtian.fgm*/
	background:url(http://img04.taobaocdn.com/tps/i4/T1L4iKXdplXXXXXXXX-185-123.png) no-repeat #FFF -999px -999px;
}
.cal-input .b{
	background-position:right -108px;	
}
.cal-input .e{
	background-position:right -78px;	
}
.cal-input s{
    position:absolute;
    right:2px;
    top:6px;
    width:20px;
    height:15px;
    text-indent:-2000px;
    overflow:hidden;

}
/*.cal-input .begin-icon{
    background-position:-60px -25px;
}
.cal-input .end-icon{
    background-position:-40px -25px;
}
.cal-input-focus .begin-icon{
    background-position:-60px -40px;
}
.cal-input-focus .end-icon{
    background-position:-40px -40px;
}*/

.calendar-day a.yuandan,.end-select .calendar-day a.yuandan,.end-select .calendar-day .select-date a.yuandan,.calendar-day .select-date a.yuandan,
.calendar-day a.chuxi,.end-select .calendar-day a.chuxi,.end-select .calendar-day .select-date a.chuxi,.calendar-day .select-date a.chuxi,
.calendar-day a.chunjie,.end-select .calendar-day a.chunjie,.end-select .calendar-day .select-date a.chunjie,.calendar-day .select-date a.chunjie,
.calendar-day a.yuanxiao,.end-select .calendar-day a.yuanxiao,.end-select .calendar-day .select-date a.yuanxiao,.calendar-day .select-date a.yuanxiao,
.calendar-day a.qingming,.end-select .calendar-day a.qingming,.end-select .calendar-day .select-date a.qingming,.calendar-day .select-date a.qingming,
.calendar-day a.wuyi,.end-select .calendar-day a.wuyi,.end-select .calendar-day .select-date a.wuyi,.calendar-day .select-date a.wuyi,
.calendar-day a.duanwu,.end-select .calendar-day a.duanwu,.end-select .calendar-day .select-date a.duanwu,.calendar-day .select-date a.duanwu,
.calendar-day a.zhongqiu,.end-select .calendar-day a.zhongqiu,.end-select .calendar-day .select-date a.zhongqiu,.calendar-day .select-date a.zhongqiu,
.calendar-day a.guoqing,.end-select .calendar-day a.guoqing,.end-select .calendar-day .select-date a.guoqing,.calendar-day .select-date a.guoqing,
.calendar-day a.today,.end-select .calendar-day a.today.end-select .calendar-day .select-date a.today.calendar-day .select-date a.today
{overflow:hidden;text-indent:-9999px;background:url(http://img04.taobaocdn.com/tps/i4/T1ww1KXcVmXXXXXXXX-149-292.png) no-repeat;}

.calendar-day a.yuandan,.end-select .calendar-day a.yuandan{background-position:0 0;}
.calendar-day a.chuxi,.end-select .calendar-day a.chuxi{background-position:0 -30px;}
.calendar-day a.chunjie,.end-select .calendar-day a.chunjie{background-position:0 -60px;}
.calendar-day a.yuanxiao,.end-select .calendar-day a.yuanxiao{background-position:0 -90px;}
.calendar-day a.qingming,.end-select .calendar-day a.qingming{background-position:0 -120px;}
.calendar-day a.wuyi,.end-select .calendar-day a.wuyi{background-position:0 -150px;}
.calendar-day a.duanwu,.end-select .calendar-day a.duanwu{background-position:0 -180px;}
.calendar-day a.zhongqiu,.end-select .calendar-day a.zhongqiu{background-position:0 -210px;}
.calendar-day a.guoqing,.end-select .calendar-day a.guoqing{background-position:0 -240px;}
.calendar-day a.today,.end-select .calendar-day a.today{background-position:0 -270px;}

.calendar-day a.yuandan:hover,.calendar-day .select-date a.yuandan:hover,.calendar-day .select-begin-date a.yuandan{background-position:-31px 0;}
.calendar-day a.chuxi:hover,.calendar-day .select-date a.chuxi:hover,.calendar-day .select-begin-date a.chuxi{background-position:-31px -30px;}
.calendar-day a.chunjie:hover,.calendar-day .select-date a.chunjie:hover,.calendar-day .select-begin-date a.chunjie{background-position:-31px -60px;}
.calendar-day a.yuanxiao:hover,.calendar-day .select-date a.yuanxiao:hover,.calendar-day .select-begin-date a.yuanxiao{background-position:-31px -90px;}
.calendar-day a.qingming:hover,.calendar-day .select-date a.qingming:hover,.calendar-day .select-begin-date a.qingming{background-position:-31px -120px;}
.calendar-day a.wuyi:hover,.calendar-day .select-date a.wuyi:hover,.calendar-day .select-begin-date a.wuyi{background-position:-31px -150px;}
.calendar-day a.duanwu:hover,.calendar-day .select-date a.duanwu:hover,.calendar-day .select-begin-date a.duanwu{background-position:-31px -180px;}
.calendar-day a.zhongqiu:hover,.calendar-day .select-date a.zhongqiu:hover,.calendar-day .select-begin-date a.zhongqiu{background-position:-31px -210px;}
.calendar-day a.guoqing:hover,.calendar-day .select-date a.guoqing:hover,.calendar-day .select-begin-date a.guoqing{background-position:-31px -240px;}
.calendar-day a.today:hover,.calendar-day .select-date a.today:hover,.calendar-day .select-begin-date a.today{background-position:-31px -270px;}

.calendar-day .select-date a.yuandan,.end-select .calendar-day .select-date a.yuandan{background-position:-93px 0;}
.calendar-day .select-date a.chuxi,.end-select .calendar-day .select-date a.chuxi{background-position:-93px -30px;}
.calendar-day .select-date a.chunjie,.end-select .calendar-day .select-date a.chunjie{background-position:-93px -60px;}
.calendar-day .select-date a.yuanxiao,.end-select .calendar-day .select-date a.yuanxiao{background-position:-93px -90px;}
.calendar-day .select-date a.qingming,.end-select .calendar-day .select-date a.qingming{background-position:-93px -120px;}
.calendar-day .select-date a.wuyi,.end-select .calendar-day .select-date a.wuyi{background-position:-93px -150px;}
.calendar-day .select-date a.duanwu,.end-select .calendar-day .select-date a.duanwu{background-position:-93px -180px;}
.calendar-day .select-date a.zhongqiu,.end-select .calendar-day .select-date a.zhongqiu{background-position:-93px -210px;}
.calendar-day .select-date a.guoqing,.end-select .calendar-day .select-date a.guoqing{background-position:-93px -240px;}
.calendar-day .select-date a.today,.end-select .calendar-day .select-date a.today{background-position:-93px -270px;}

.end-select .calendar-day a.yuandan:hover,.calendar-day .select-end-date a.yuandan{background-position:-62px 0;}
.end-select .calendar-day a.chuxi:hover,.calendar-day .select-end-date a.chuxi{background-position:-62px -30px;}
.end-select .calendar-day a.chunjie:hover,.calendar-day .select-end-date a.chunjie{background-position:-62px -60px;}
.end-select .calendar-day a.yuanxiao:hover,.calendar-day .select-end-date a.yuanxiao{background-position:-62px -90px;}
.end-select .calendar-day a.qingming:hover,.calendar-day .select-end-date a.qingming{background-position:-62px -120px;}
.end-select .calendar-day a.wuyi:hover,.calendar-day .select-end-date a.wuyi{background-position:-62px -150px;}
.end-select .calendar-day a.duanwu:hover,.calendar-day .select-end-date a.duanwu{background-position:-62px -180px;}
.end-select .calendar-day a.zhongqiu:hover,.calendar-day .select-end-date a.zhongqiu{background-position:-62px -210px;}
.end-select .calendar-day a.guoqing:hover,.calendar-day .select-end-date a.guoqing{background-position:-62px -240px;}
.end-select .calendar-day a.today:hover,.calendar-day .select-end-date a.today{background-position:-62px -270px;}

.message-tips{
	position:absolute;
	color:#666;
	width:100%;
	top:-1px;
	left:-1px;	
	background:#fff2e8;
	border:1px solid #ff7d26;
	z-index:1;
	di1splay:none;
}
.message-tips p{
	padding:3px;	
}
/*for all but opera & firefox2.0*/
.yui3-widget.yui3-overlay{background:rgba(128, 128, 128, 0.2);*background:#e9e9e9;font-size:12px;font-family:Tahoma;}
/*hack for Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
	head~body .yui3-widget.yui3-overlay{background:#e9e9e9;}
}
/*hack for firefox2.0*/
.yui3-widget.yui3-overlay, x:-moz-any-link {background:#e9e9e9;}
/*hack for firefox3.0 & upper*/
.yui3-widget.yui3-overlay, x:-moz-any-link x:default {background:rgba(128, 128, 128, 0.2);}


.yui3-widget-stdmod {position:relative;top:-3px;left:-3px;background:#f0faff;border:1px solid #b2d1ff;}
.yui3-overlay-content .yui3-widget-hd {background:transparent;border:white solid;border-width:1px 1px 0px 1px;text-align:left;font-weight:bold;color:black;font-size:14px;height:14px;padding:6px 0 5px 10px;_padding-bottom:0px;}
.yui3-overlay-content .yui3-widget-hd .close {margin-right:5px;}
.yui3-overlay-content .yui3-widget-bd {height:auto;border:white solid;border-width:0px 1px 0px 1px;padding-left:20px;padding-top:10px;padding-right:20px;padding-bottom:10px;}
.yui3-overlay-content .yui3-widget-ft {border:white solid;border-width:0px 1px 1px 1px;padding-right:9px;height:34px;}
.yui3-overlay-content .yui3-widget-hd .title{float:left;}
.yui3-overlay-content .yui3-widget-hd .close{float:right;cursor:mouse}
