body {
  background-color: #f5f5f5;
}

.head {
  background: #1baddd url(../img/lb/head.jpg) 100% 100% no-repeat;
}

.logo {
  background: url(../img/lb/logo-border.png) 100% 50% no-repeat;
}
.logo a {
  background-image: url(../img/lb/logo.png);
}

.menu-main a {
  background: url(../img/lb/menu-main.png) no-repeat;
}
.menu-main .current a {
  background: url(../img/lb/menu-main-h.png) no-repeat;
}
