.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.red, .redb, .pagination .current, .validator {
  color: red; }

.gray {
  color: #999999; }

.redb {
  font-weight: bold; }

.blue, .gray-title ul .current, .table-b5 .thead ul .current, .table-b6 .thead ul .current {
  color: #38ace8; }

.green, .greenb {
  color: #00bb00; }

.dred {
  color: #cc0000; }

.greenb {
  font-weight: bold; }

.brown {
  color: #cc0000; }

.orange {
  color: #ff9900; }

.lightblue-bg {
  background-color: #ebf8fe; }

body {
  font-size: 12px;
  font-family: Arial;
  background-color: #e2e9ea; }

.icon24 {
  background: url(../img/dt/24.png) repeat-y;
  width: 200px;
  height: 36px;
  position: absolute;
  top: 12px;
  right: 15px; }

.gray-title, .table-b5 .thead, .table-b6 .thead {
  background: url(../img/dt/gray-title.png) repeat-x; }
  .gray-title .buttons, .table-b5 .thead .buttons, .table-b6 .thead .buttons {
    font-weight: normal; }
  .gray-title span, .table-b5 .thead span, .table-b6 .thead span {
    font-weight: normal; }
  .gray-title ul, .table-b5 .thead ul, .table-b6 .thead ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
    list-style: none;
    padding-left: 20px;
    font-weight: bold;
    padding-top: 3px; }
    .gray-title ul li, .table-b5 .thead ul li, .table-b6 .thead ul li {
      line-height: 30px;
      margin: 0;
      float: left;
      cursor: pointer;
      padding: 0 20px; }
    .gray-title ul .current, .table-b5 .thead ul .current, .table-b6 .thead ul .current {
      border: 1px solid #cecece;
      border-bottom: 0;
      background-color: #fff; }
    .gray-title ul a, .table-b5 .thead ul a, .table-b6 .thead ul a {
      color: inherit; }

.f12, .gray-title span, .table-b5 .thead span, .table-b6 .thead span, h2.title, h3.gray-title, .table-b5 h3.thead, .table-b6 h3.thead {
  font-size: 12px; }

.f14, .lightbox-head h3, h1.title {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.f22 {
  font-size: 22px; }

.f24 {
  font-size: 24px; }

.skins {
  position: absolute;
  top: 76px;
  right: 14px; }

.col {
  float: left; }

.change-style {
  display: block;
  width: 10px;
  height: 9px;
  margin-right: 4px;
  float: left;
  cursor: pointer; }

.head {
  background: #3a6ea5 100% 100% no-repeat;
  height: 95px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.area {
  border: 1px solid #bec6c7;
  background-color: #fff; }

.logo {
  padding-top: 15px;
  float: left;
  margin: 0;
  width: 170px;
  text-align: center;
  background: url(../img/dt/logo-border.png) 100% 50% no-repeat; }
  .logo span {
    display: none; }
  .logo a {
    background: url(../img/dt/logo.jpg) 50% 50% no-repeat;
    display: block;
    height: 65px; }

.nav-top {
  margin-left: 180px; }

.mqr1 {
  color: #abd2fc; }
  .mqr1 a {
    color: #abd2fc; }

.mqr2 a {
  color: #fff; }

.mqr {
  padding-top: 10px; }

.menu-quick {
  color: #fff;
  height: 60px;
  padding-left: 10px; }

.menu-main {
  height: 36px;
  _margin-bottom: -5px; }
  .menu-main ul {
    padding: 0;
    list-style: none;
    margin: 0; }
  .menu-main li {
    margin: 0;
    width: 97px;
    height: 36px;
    float: left; }
  .menu-main a {
    line-height: 40px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 14px;
    background: url(../img/dt/menu-main.png) no-repeat; }
    .menu-main a:hover {
      text-decoration: none; }
  .menu-main .current a {
    color: #3366cc;
    font-weight: bold;
    background: url(../img/dt/menu-main-h.png) no-repeat; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.button {
    text-decoration: none; }

.sidebar {
  width: 158px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 95px;
  height: 100%;
  z-index: 999; }

.breadcrumb {
  margin-left: 180px;
  height: 24px;
  line-height: 24px; }
  .breadcrumb a {
    color: #333333; }

body, html {
  height: 100%; }

.content {
  min-width: 790px;
  padding: 10px;
  margin-left: 175px; }

.body {
  padding-top: 95px; }

.menu-item {
  display: none; }

.menu-sidebar .active {
  display: block; }
.menu-sidebar dl dl {
  background-color: #fff;
  margin: 3px; }
.menu-sidebar dt {
  background: #EEEDED;
  color: #006699;
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  text-indent: 18px;
  position: relative; }
  .menu-sidebar dt.current {
    font-weight: bold; }
  .menu-sidebar dt a {
    color: #006699; }
  .menu-sidebar dt .arrow1 {
    right: 10px;
    position: absolute;
    top: 14px; }
.menu-sidebar dd {
  margin: 0; }
  .menu-sidebar dd a.current {
    color: #fff;
    background: #439fd0 url(../img/arrow/menu_item_arrow2.png) no-repeat 12px 50% !important;
    border-radius: 5px; }
  .menu-sidebar dd a {
    padding: 6px 0 6px 26px;
    margin-bottom: 2px;
    display: block;
    background: url(../img/arrow/menu_item_arrow1.png) no-repeat 12px 50%;
    color: #006699; }
    .menu-sidebar dd a:hover {
      text-decoration: none;
      border-radius: 5px;
      background-color: #d5e8f2; }

.hide-sidebar .breadcrumb, .hide-sidebar .content {
  margin-left: 15px; }

.lightbox table {
  height: 100%;
  width: 100%; }

.lightbox td, .lightbox th {
  vertical-align: middle; }

.lightbox-content {
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 1px;
  position: relative; }

.lightbox-body {
  border: 1px solid #cecece;
  border-top: 0;
  padding: 10px 30px 30px 30px; }

.lightbox-head {
  border: 1px solid #cecece;
  border-bottom: 0;
  background-color: #eeeeee; }
  .lightbox-head h3 {
    line-height: 30px;
    padding-left: 20px;
    margin: 0; }

.lightbox {
  display: none;
  line-height: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
  zoom: 1; }

i.arrow1 {
  background-image: url(../img/arrow/arrow1.png); }

i.arrow2 {
  background-image: url(../img/arrow/arrow2.png); }

i.arrow3 {
  background-image: url(../img/arrow/arrow3.png); }

i.arrow4 {
  background-image: url(../img/arrow/arrow4.png); }

i.arrow5 {
  background-image: url(../img/arrow/arrow5.png); }

i.arrow6 {
  background-image: url(../img/arrow/arrow6.png); }

i.arrow7 {
  background-image: url(../img/arrow/arrow7.png); }

i.arrow8 {
  background-image: url(../img/arrow/arrow8.png); }

i.arrow9 {
  background-image: url(../img/arrow/arrow9.png); }

i.arrow10 {
  background-image: url(../img/arrow/arrow10.png); }

i.arrow {
  background-repeat: no-repeat;
  cursor: pointer; }

i.arrow1 {
  background: url(../img/arrow/arrow1.png) no-repeat;
  display: block;
  width: 13px;
  height: 7px; }

i.arrow2 {
  background-image: url(../img/arrow/arrow5.png);
  display: inline-block;
  width: 13px;
  height: 7px; }

i.arrow4 {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 160px;
  background: #e2e9ea url(../img/arrow/csb.png) no-repeat 50% 50%;
  opacity: .9;
  height: 100%;
  width: 14px;
  display: block; }

i.arrow4h {
  left: 0px !important;
  background-image: url(../img/arrow/arrow4h.png); }

i.arrow5 {
  background: url(../img/arrow/arrow5.png) no-repeat;
  display: block;
  width: 9px;
  height: 5px;
  position: absolute;
  top: 97px;
  left: 85px; }

i.arrow5h {
  top: 2px;
  background: url(../img/arrow/arrow5h.png) no-repeat; }

i.icon1 {
  background-image: url(../img/icons/icon1.png); }

i.icon2 {
  background-image: url(../img/icons/icon2.png); }

i.icon3 {
  background-image: url(../img/icons/icon3.png); }

i.icon4 {
  background-image: url(../img/icons/icon4.png); }

i.icon5 {
  background-image: url(../img/icons/icon5.png); }

i.icon6 {
  background-image: url(../img/icons/icon6.png); }

i.icon7 {
  background-image: url(../img/icons/icon7.png); }

i.icon8 {
  background-image: url(../img/icons/icon8.png); }

i.icon9 {
  background-image: url(../img/icons/icon9.png); }

i.icon10 {
  background-image: url(../img/icons/icon10.png); }

i.icon11 {
  background-image: url(../img/icons/icon11.png); }

i.icon12 {
  background-image: url(../img/icons/icon12.png); }

i.icon13 {
  background-image: url(../img/icons/icon13.png); }

i.icon14 {
  background-image: url(../img/icons/icon14.png); }

i.icon15 {
  background-image: url(../img/icons/icon15.png); }

i.icon16 {
  background-image: url(../img/icons/icon16.png); }

i.icon17 {
  background-image: url(../img/icons/icon17.png); }

i.icon18 {
  background-image: url(../img/icons/icon18.png); }

i.icon19 {
  background-image: url(../img/icons/icon19.png); }

i.icon20 {
  background-image: url(../img/icons/icon20.png); }

i.icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

i.icon3 {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

i.icon8 {
  display: inline-block;
  height: 12px;
  width: 14px;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

i {
  font-style: normal; }

b {
  font-weight: normal; }

td, th {
  word-wrap: break-word;
  word-break: break-all; }

th {
  font-weight: normal;
  text-align: left; }

u, s {
  text-decoration: none; }

.button {
  cursor: pointer;
  border: none;
  background: none;
  display: inline-block;
  text-align: center;
  padding: 0; }

.button1 {
  color: #333333;
  width: 73px;
  height: 23px;
  line-height: 23px; }

.button2 {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  width: 111px;
  height: 28px;
  line-height: 28px; }

.button3 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  width: 176px;
  height: 37px;
  line-height: 37px; }

.button4 {
  color: #333333;
  width: 103px;
  height: 27px;
  line-height: 27px; }

.button5 {
  width: 59px;
  height: 24px;
  line-height: 24px;
  color: #fff; }

.button6 {
  width: 61px;
  height: 28px;
  line-height: 28px;
  color: #fff; }

.button1 {
  background-image: url(../img/button/button1.png); }

.button2 {
  background-image: url(../img/button/button2.png); }

.button3 {
  background-image: url(../img/button/button3.png); }

.button4 {
  background-image: url(../img/button/button4.png); }

.button5 {
  background-image: url(../img/button/button5.png); }

.button6 {
  background-image: url(../img/button/button6.png); }

.button7 {
  background-image: url(../img/button/button7.png); }

input.text, textarea, select {
  border: 1px solid #bec6c7;
  background: none; }

select, input.text {
  background-color: #fff;
  padding: 2px; }

input.checkbox, input.radio {
  vertical-align: text-bottom; }

input.disabled {
  background-color: #cecece;
  border: 1px solid #999999; }

.title {
  margin: 0;
  color: #333333;
  margin-bottom: 10px; }

.table-b1 {
  width: 100%; }
  .table-b1 tr {
    border-top: 1px solid #eeeeee; }
  .table-b1 td, .table-b1 th {
    padding: 5px 0;
    vertical-align: baseline; }
  .table-b1 p {
    margin-bottom: 5px; }
  .table-b1 input.text {
    width: 120px;
    margin: 0;
    padding: 3px 2px; }
  .table-b1 textarea {
    line-height: 18px;
    padding: 3px 2px;
    width: 300px;
    height: 100px; }

input.text9 {
  width: 90% !important; }

input.text0 {
  width: 30px !important; }

input.text2 {
  width: 240px !important; }

input.text3 {
  width: 360px !important; }

input.text1 {
  width: 60px !important; }

input.text2 {
  width: 240px !important; }

input.text3 {
  width: 360px !important; }

input.text6 {
  width: 48px !important; }

p {
  margin: 0; }

.table-count {
  background-color: #eeeeee;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #bec6c7; }

.pagination {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background-color: #f6f6f6;
  margin-top: 20px;
  padding: 10px;
  text-align: center; }
  .pagination a {
    padding: 0 5px;
    color: #666666; }
  .pagination .current {
    font-weight: bold; }

.table-buttons {
  margin-top: 40px;
  margin-bottom: 10px; }
  .table-buttons .button {
    background-color: #cfe6fd;
    border-radius: 3px;
    color: #3366cc;
    border: none; }

.table-b2 {
  width: 100%; }
  .table-b2 .thead {
    background-color: #f6f6f6; }
    .table-b2 .thead td, .table-b2 .thead th {
      border: 1px solid #bec6c7;
      white-space: nowrap; }
  .table-b2 td, .table-b2 th {
    padding: 5px;
    vertical-align: inherit; }
  .table-b2 tr {
    border-bottom: 1px solid #bec6c7; }

.table-b3, .table-b4 {
  width: 100%; }
  .table-b3 td, .table-b4 td, .table-b3 th, .table-b4 th {
    vertical-align: baseline;
    padding: 10px;
    border: 1px solid #cecece; }
  .table-b3 th, .table-b4 th {
    white-space: nowrap;
    vertical-align: baseline;
    width: 100px;
    background-color: #f6f6f6;
    border: 1px solid #cecece; }

.table-b5, .table-b6 {
  width: 100%;
  border-top: 1px solid #cecece; }
  .table-b5 img, .table-b6 img {
    vertical-align: middle;
    margin-bottom: 5px; }
  .table-b5 td, .table-b6 td, .table-b5 th, .table-b6 th {
    padding: 5px 0; }
  .table-b5 .thead td, .table-b6 .thead td, .table-b5 .thead th, .table-b6 .thead th {
    line-height: 30px;
    padding: 0 0 0 10px;
    border: 1px solid #cecece;
    font-weight: bold; }
  .table-b5 .meta-row td, .table-b6 .meta-row td, .table-b5 .meta-row th, .table-b6 .meta-row th, .table-b5 .info-row td, .table-b6 .info-row td, .table-b5 .info-row th, .table-b6 .info-row th {
    padding: 0; }
  .table-b5 .info, .table-b6 .info {
    padding: 0 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #377ac0;
    background-color: #f6f6f6;
    line-height: 40px; }
    .table-b5 .info span, .table-b6 .info span {
      padding-right: 20px; }
    .table-b5 .info .btn, .table-b6 .info .btn {
      cursor: pointer;
      float: right;
      height: 20px;
      *margin-top: -40px;
      _margin-top: -35px; }
  .table-b5 .loaded .info, .table-b6 .loaded .info {
    display: none; }

.table-b6 {
  border-top: none; }
  .table-b6 th {
    text-align: right; }

.table-b7 td, .table-b7 th {
  vertical-align: baseline;
  padding: 5px;
  padding-left: 0; }

i.close {
  font-size: 12px;
  font-size: 18px \9;
  _font-size: 12px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px; }

.center {
  text-align: center; }

h3.gray-title, .table-b5 h3.thead, .table-b6 h3.thead {
  line-height: 34px;
  padding-left: 20px;
  margin: 0;
  border-bottom: 1px solid #cecece; }

tr.even {
  background-color: #ebf8fe; }

.block {
  overflow: hidden;
  zoom: 1;
  border: 1px solid #cecece; }

.center {
  text-align: center; }

.console-screen {
  width: 510px;
  margin-right: 20px; }
  .console-screen center {
    margin: 15px 0; }
  .console-screen textarea {
    line-height: 16px;
    color: #999999;
    width: 500px;
    height: 240px;
    background-color: #000;
    font-family: monospace; }

ul, dl, ol, h5, h6, li {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.cart {
  position: absolute;
  top: 25px;
  right: 20px; }
  .cart a {
    color: #fff; }
  .cart i {
    padding: 5px 10px; }

.hidden {
  display: none; }

.price {
  font-family: arial; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.vhidden {
  background: none; }
  .vhidden .logo {
    visibility: hidden; }
  .vhidden a {
    background: none !important; }

.loading i {
  *zoom: 1;
  padding: 3px 10px;
  background: url(../img/dt/loading.gif) no-repeat 50% 50%; }
.loading div {
  width: 200px;
  border: 5px solid #666;
  padding: 5px; }

.bdl {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden !important; }

.content a {
  color: #36c; }

.content .deskindex_wrap a {
  color: #36c; }

.content ul.n_1 a {
  color: #36c !important; }

h5 {
  font-size: 12px; }

.block {
  margin-bottom: 10px; }

.xblock {
  margin-bottom: 10px; }

.mo-cgs1, .mo-yys1 {
  min-height: 500px; }
  .mo-cgs1 .deskindex_wrap, .mo-yys1 .deskindex_wrap {
    padding-left: 410px;
    padding-right: 0; }
  .mo-cgs1 .col1, .mo-yys1 .col1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    margin-right: 15px; }
    .mo-cgs1 .col1 li, .mo-yys1 .col1 li {
      line-height: 20px;
      padding: 5px 10px; }

.content-col {
  padding-bottom: 40px;
  width: 800px; }

.quick-date {
  margin-bottom: 10px;
  line-height: 24px; }
  .quick-date .prev {
    display: block;
    background: url(../img/prev.png) 50% 50% no-repeat;
    width: 30px;
    height: 100px;
    float: left; }
  .quick-date .next {
    float: left;
    display: block;
    background: url(../img/next.png) 50% 50% no-repeat;
    width: 30px;
    height: 100px; }
  .quick-date .col {
    font-size: 14px;
    color: #333 !important;
    cursor: pointer;
    display: block;
    color: #36c;
    width: 200px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #e3f1fb;
    border: 1px solid #a6cce6; }
    .quick-date .col:hover {
      border-color: #aaa;
      background: #eee;
      text-decoration: none; }

.maincontent {
  margin-top: 10px; }

.ylinfo {
  width: 1030px;
  padding: 20px; }
  .ylinfo .thumb {
    float: left;
    width: 420px; }
    .ylinfo .thumb img {
      width: 400px;
      height: 320px; }
  .ylinfo .detail {
    margin-left: 430px; }
  .ylinfo .price {
    float: right; }
  .ylinfo .title {
    margin-bottom: 20px;
    color: #36c;
    font-size: 22px;
    font-family: "Microsoft Yahei";
    font-weight: normal; }
  .ylinfo .row {
    margin-bottom: 5px; }
  .ylinfo dl {
    line-height: 24px; }
  .ylinfo dd {
    margin: 0; }
  .ylinfo dt {
    border-bottom: 1px dotted #aaa;
    font-weight: bold; }
  .ylinfo .row1 {
    margin-bottom: 10px; }
    .ylinfo .row1 a {
      background: #36c;
      color: #fff;
      padding: 3px;
      margin-right: 5px; }
      .ylinfo .row1 a:active {
        background: #39f; }

.total-block {
  float: left;
  width: 250px;
  margin-left: 20px; }
  .total-block h3 {
    background: #ddd;
    margin: 0;
    padding: 5px; }
  .total-block p {
    padding: 5px; }
  .total-block label {
    display: inline-block;
    width: 60px;
    text-align: right; }

.mo-cgs5 .table-b2 .thead th {
  border-top: 0; }

.total-fixed {
  top: 105px;
  left: 1006px;
  position: fixed;
  margin-left: 0px; }

.quicksel {
  height: 281px;
  border: 2px solid #f90;
  font-size: 14px; }
  .quicksel a {
    white-space: nowrap;
    color: #333 !important;
    margin-right: 15px; }
  .quicksel h5 {
    font-size: 14px;
    font-weight: normal;
    color: #36c;
    border-bottom: 1px solid #36c;
    text-indent: 5px; }
  .quicksel li {
    line-height: 24px;
    padding: 10px; }
  .quicksel p {
    padding: 5px; }

.orderno {
  color: #c63;
  font: italic bold 14px arial; }

.price {
  font-size: 1.4em;
  color: #FF7A17; }
  .price b {
    font-weight: bold;
    font-size: 1.5em; }

.recommendlist li {
  overflow: hidden;
  line-height: 20px;
  padding: 10px;
  border-bottom: 1px dashed #ccc; }
.recommendlist .price {
  float: right; }

.pagination {
  text-align: right; }

.steps {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #36c;
  font-size: 18px;
  font-family: Arial,'Microsoft Yahei';
  color: #999;
  margin-bottom: 20px; }
  .steps strong {
    font-size: 1.1em;
    color: #36c; }

.result-filters {
  padding: 10px;
  background-color: #f6f6f6;
  float: left; }
  .result-filters .custom {
    display: inline-block; }
  .result-filters .sort-item {
    cursor: pointer;
    padding: 1px 3px;
    border: 1px solid #ccc;
    background-color: #fff; }

.block-head .pagination {
  width: 300px;
  margin: 0;
  float: right; }

.selected-info {
  padding: 10px;
  background-color: #e3f1fb;
  border: 1px solid #a6cce6; }
  .selected-info .title {
    font-size: 14px;
    color: #c00; }
  .selected-info span {
    margin-right: 20px; }

.mo-cgs5 .row {
  padding: 10px; }
  .mo-cgs5 .row input {
    padding: 3px;
    border: 1px solid #ccc; }
.mo-cgs5 .block-title {
  color: #36c;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #36c;
  margin-bottom: 10px; }
.mo-cgs5 .k-grid {
  border: 0; }
.mo-cgs5 .label {
  display: inline-block;
  color: #666;
  width: 75px; }

.result-block .detail_link {
  position: absolute;
  right: 20px;
  bottom: 40px;
  background-color: #36c;
  color: #fff !important;
  padding: 5px 10px;
  font-size: 14px; }
  .result-block .detail_link:active {
    background-color: #39f; }
.result-block .block-head {
  background-color: #f6f6f6;
  border-bottom: 1px solid #cecece;
  box-shadow: 2px 3px 6px #ddd; }
.result-block .row {
  line-height: 20px;
  overflow: hidden;
  _zoom: 1;
  margin-bottom: 10px; }
.result-block .row2, .result-block .row3 {
  padding-right: 100px; }
.result-block .title {
  color: #36c;
  font-weight: bold;
  font-size: 16px; }
.result-block .dates {
  color: #666; }
.result-block .button {
  float: right; }
.result-block .note {
  color: #ff9900; }
.result-block .price {
  position: absolute;
  bottom: 90px;
  right: 20px; }
.result-block .thumb {
  float: left;
  width: 180px; }
.result-block .detail {
  margin-left: 180px; }
.result-block li {
  position: relative;
  float: left;
  border-bottom: 1px dashed #cecece;
  padding: 20px; }
.result-block .row2 {
  color: #666; }
.result-block .label {
  margin-top: 5px;
  display: block;
  line-height: 20px;
  text-align: center;
  width: 75px;
  color: #fff; }
.result-block .label1 {
  background-color: #ff9900; }
.result-block .label2 {
  background-color: #99cc66; }

.query-terms a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px; }
  .query-terms a:hover {
    background-color: #36c;
    color: #fff; }
  .query-terms a.current {
    background-color: #36c;
    color: #fff; }

#psr_amount {
  padding: 10px; }
  #psr_amount .note {
    line-height: 24px;
    color: #999; }
  #psr_amount input {
    font-size: 18px;
    font-weight: bold; }
  #psr_amount .k-select {
    margin-top: 5px; }

#yl_detail_info {
  border-top: 0;
  border-left: 0;
  border-right: 0; }

.pseudo_input {
  position: relative;
  display: block;
  border: 1px solid #aaa;
  padding: 2px 22px 2px 4px;
  cursor: text;
  background: #fff; }

.mo-cgs4 {
  padding: 10px 0;
  position: relative;
  margin: 0 auto;
  width: 960px; }
  .mo-cgs4 .time {
    color: #36c; }
  .mo-cgs4 h3 {
    color: #36c;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0;
    border-bottom: 1px solid #36c;
    margin-bottom: 10px; }
  .mo-cgs4 .block {
    padding: 10px; }
  .mo-cgs4 .tabs {
    width: 100px;
    padding: 0;
    position: fixed;
    left: 50%;
    margin-left: 490px;
    top: 10px; }
    .mo-cgs4 .tabs li {
      float: left;
      margin-bottom: 5px;
      width: 80px;
      margin-right: 10px; }
    .mo-cgs4 .tabs a {
      text-align: center;
      display: block;
      color: #fff;
      background: #36c;
      padding: 10px 5px; }
      .mo-cgs4 .tabs a:hover {
        text-decoration: none;
        background: #39f; }
  .mo-cgs4 .row2 {
    padding: 10px;
    line-height: 20px; }
    .mo-cgs4 .row2 ol {
      line-height: 20px; }
  .mo-cgs4 .row1 {
    background: #eee;
    padding: 5px; }
    .mo-cgs4 .row1 em {
      font-size: 1.6em;
      color: #36c;
      font-weight: bold; }
  .mo-cgs4 .item {
    margin-bottom: 20px; }
  .mo-cgs4 .detail {
    padding: 10px; }

#contact_info .text {
  margin-right: 20px; }

#invoice_info input {
  width: 590px; }

#delivery_info .row1 input {
  width: 590px; }

#delivery_info .row2 .text {
  margin-right: 20px; }

#success_block {
  padding: 40px;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 40px;
  width: 600px; }
  #success_block .row {
    margin-bottom: 15px; }
  #success_block .row1, #success_block .row2 {
    color: #D55400; }
  #success_block .title {
    color: #36c;
    font-size: 16px; }
  #success_block .odernum {
    color: #36c;
    font-size: 16px; }

#more_condition_wrapper {
  display: none; }

.border-box {
  padding: 10px;
  background-color: #e3f1fb;
  border: 1px solid #a6cce6; }

#query_block .row {
  padding: 5px; }
#query_block .text {
  padding-right: 10px; }
#query_block td, #query_block th {
  padding-bottom: 10px;
  padding-right: 20px; }
#query_block th {
  padding-right: 0; }

.mo-cgs7 {
  min-height: 800px; }
  .mo-cgs7 .border-box {
    margin-top: 30px; }
    .mo-cgs7 .border-box b {
      color: #c00;
      font-size: 1.2em; }
    .mo-cgs7 .border-box s {
      margin-right: 10px; }
  .mo-cgs7 .buttons .k-button {
    margin-left: 10px; }

.mo-cgs8 .row {
  padding: 10px; }
  .mo-cgs8 .row input {
    padding: 3px;
    border: 1px solid #ccc; }
.mo-cgs8 .block-title {
  color: #36c;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #36c;
  margin-bottom: 10px; }
.mo-cgs8 .k-grid {
  border: 0; }
.mo-cgs8 .label {
  display: inline-block;
  color: #666;
  width: 75px; }

.mo-cgs9 .row {
  padding: 10px; }
.mo-cgs9 .block-title {
  color: #36c;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #36c;
  margin-bottom: 10px; }
.mo-cgs9 .k-grid {
  border: 0; }
.mo-cgs9 .label {
  display: inline-block;
  color: #666;
  width: 75px; }

#popmask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000;
  opacity: 0.1;
  top: 0;
  left: 0; }

.flowhidden {
  overflow: hidden; }

#window .row {
  padding: 5px 10px; }

.mo-cgs10 .table {
  width: 500px; }
.mo-cgs10 .thead {
  background: #ddd; }
.mo-cgs10 td, .mo-cgs10 th {
  padding: 5px;
  border: 1px solid #ccc; }

.block-body {
  overflow: hidden;
  zoom: 1;
  padding: 10px; }

.dropdownlist {
  width: 130px; }

.readonly {
  border: 0 !important; }

.k-i-close {
  background: url(../img/cc.gif) 0 0 no-repeat !important; }

.k-edit-form-container {
  text-align: center; }

.k-edit-label {
  text-align: right !important; }

.k-edit-field {
  text-align: left !important; }

.k-window-title {
  display: none; }

.mo-cgs2 .table-b3, .mo-cgs2 .table-b4 {
  color: #888; }
  .mo-cgs2 .table-b3 td, .mo-cgs2 .table-b4 td, .mo-cgs2 .table-b3 th, .mo-cgs2 .table-b4 th {
    border: 0; }
.mo-cgs2 .table-b3 th, .mo-cgs2 .table-b4 th {
  text-align: right; }

.pagination a {
  padding: 10px; }

.k-dirty {
  display: none; }

.mo-cgs3 .k-grouping-row td, .mo-cgs3 .k-grouping-row th {
  background-color: #e3f1fb;
  border-bottom: 1px solid #ddd;
  font-weight: bold; }

#yl_detail_info td, #yl_detail_info th {
  border-bottom: 1px solid #ccc; }

.fximg {
  padding-left: 20px;
  background: url(../img/u192_normal.png) no-repeat 0 50%; }

.fxdetail {
  display: none;
  /* required */
  position: absolute;
  /* required */
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  z-index: 999999; }

.fxtype {
  background-color: #ddd; }

.icon-search {
  display: block;
  width: 24px;
  padding-left: 16px;
  height: 14px;
  background: url(../img/search.png) no-repeat 0 50%;
  cursor: pointer; }

.fxcabinwrap {
  margin: 10px 0; }
  .fxcabinwrap a {
    text-align: center;
    display: block;
    float: left;
    width: 160px;
    padding: 10px 0;
    border: 1px solid #ccc;
    margin-right: 5px; }
    .fxcabinwrap a:hover {
      text-decoration: none;
      border: 1px solid #36c; }

#yl_detail_calc .k-numerictextbox {
  width: 70px; }

#yl_detail_total h3 span {
  font-weight: normal;
  float: right;
  font-size: 12px; }
#yl_detail_total h3 s {
  font-weight: bold;
  font-size: 16px;
  padding: 0 2px;
  color: #36c; }

.total_addrow {
  padding: 5px;
  border-top: 1px solid #ddd; }
  .total_addrow span {
    display: inline-block; }

#backTop {
  cursor: pointer;
  padding: 10px;
  color: #fff;
  background: #39f;
  right: 0;
  bottom: 2px;
  position: fixed; }

center.note {
  background-color: #eee;
  padding: 10px; }

.psr_title {
  background: #eee;
  padding: 3px; }
  .psr_title span {
    margin-left: 30px; }

.psr_body {
  padding: 5px; }

.psr_block {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px; }

.psr_addpsr_wrap {
  margin: 5px 0;
  text-align: right; }
