@import 'vars';
$skin_folder:$imgpath;
$cbg:#e2e9ea;
$chead:#3a6ea5 100% 100% no-repeat;

$bc1:#bec6c7;

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.red{
    color:$c61;
}
.gray{
    color:$c13;
}
.redb{
    @extend .red;
    font-weight:bold;
}
.blue{
    color:$c23;
}
.green{
    color:$c34;
}
.dred{
    color:$c62;
}
.greenb{
    @extend .green;
    font-weight:bold;
}
.brown{
    color:$c62;
}
.orange{
    color:$c63;
}
.lightblue-bg{
    background-color:$c25;
}

body{
    font-size:12px;
    font-family:Arial;
    background-color:$cbg;
}
.icon24{
    background:url(#{$skin_folder}/dt/24.png) repeat-y;
    width:200px;
    height:36px;
    position:absolute;
    top:12px;
    right:15px;
}
.gray-title{
    .buttons{
        font-weight:normal;
    }
    background:url(#{$skin_folder}/dt/gray-title.png) repeat-x;
    span{
        font-weight:normal;
        @extend .f12;
    }
    ul{
        overflow:hidden;
        padding:0;
        margin:0;
        margin-bottom:-1px;
        list-style:none;
        padding-left:20px;
        font-weight:bold;
        padding-top:3px;
        li{
            line-height:30px;
            margin:0;
            float:left;
            cursor:pointer;
            padding:0 20px;
        }
        .current{
            @extend .blue;
            border:1px solid $c44;
            border-bottom:0;
            background-color:#fff;
        }
        a{
            color:inherit;
        }
    }
}

$i:12;
@while $i<=24{
    .f#{$i}{
        font-size:#{$i}px;
    }
    $i:$i+2;
}

.skins{
    position:absolute;
    top: 76px;
    right: 14px;
}

.col{
    float:left;
}

.change-style{
    display:block;
    width:10px;
    height:9px;
    margin-right:4px;
    float:left;
    cursor:pointer;
}

.head{
    background:$chead;
    height:95px;
    overflow: hidden;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999999;
}

.area{
    border:1px solid $bc1;
    background-color:#fff;
}

.logo{
    padding-top:15px;
    float:left;
    margin:0;
    width:170px;
    text-align:center;
    background:url(#{$skin_folder}/dt/logo-border.png) 100% 50% no-repeat;
    span{
        display:none;
    }
    a{
        background:url(#{$skin_folder}/dt/logo.png) 50% 50%  no-repeat;
        display:block;
        height:65px;
    }
}

.nav-top{
    margin-left:180px;
}
.mqr1{
    color:#abd2fc;
    a{
        color:#abd2fc;
    }
}
.mqr2{
    a{
        color:#fff;
    }
}
.mqr{
    padding-top:10px;
}
.menu-quick{
    color:#fff;
    height:60px;
    padding-left:10px;
}

.menu-main{
    height:36px;
    _margin-bottom:-5px;
    ul{
        padding:0;
        list-style:none;
        margin:0;
    }
    li{
        margin:0;
        width:97px;
        height:36px;
        float:left;
    }
    a{
        line-height:40px;
        text-align:center;
        display:block;
        color:#fff;
        &:hover {text-decoration:none; }
        font-size:14px;
        background:url(#{$skin_folder}/dt/menu-main.png) no-repeat;
    }
    .current a{
        color:$c22;
        font-weight:bold;
        background:url(#{$skin_folder}/dt/menu-main-h.png) no-repeat;
    }
}

a{
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
    &.button{
        text-decoration:none;
    }
}

.sidebar{
    width:158px;
    border-left:1px solid $c44;
    border-right:1px solid $c44;
    background-color:#fff;
    position:fixed;
    left:0;
    top:95px;
    height:100%;
    z-index:999999;
}

.breadcrumb{
    margin-left:180px;
    height:24px;
    line-height:24px;
    a{
        color:$c11;
    }
}


body,html{height:100%;}

.content{
    min-width:790px;
    padding:10px;
    margin-left:175px;
}
.body{
    padding-top:95px;
}

.menu-item{
    display:none;
}
.menu-sidebar{
    .active{
        display:block;
    }
    dl{
        dl{
            background-color:#fff; 
            margin:3px;
        }
    }
    dt{
        background:#EEEDED;
        &.current{
            font-weight:bold;
        }
        color:$c21;
        a{
            color:$c21; 
        }
        font-size:14px;
        line-height:32px;
        height:32px;
        border-bottom:1px solid $c44;
        border-top:1px solid #fff;
        border-right:1px solid #fff;
        text-indent:18px;
        position:relative;
        .arrow1{
            right:10px;
            position:absolute;
            top:14px;
        }
    }
    dd{
        margin:0;
        a.current{
            color:#fff;
            background:$c27 url(#{$skin_folder}/arrow/menu_item_arrow2.png) no-repeat 12px 50% !important;
            border-radius:5px;
        }
        a{
            padding:6px 0 6px 26px;
            margin-bottom:2px;
            display:block;
            background:url(#{$skin_folder}/arrow/menu_item_arrow1.png) no-repeat 12px 50%;
            color:$c21;
            &:hover{
                text-decoration:none;
                border-radius:5px;
                background-color:$c28;
            }
        }
    }
}

.hide-sidebar{
    .breadcrumb,.content{
        margin-left:15px;
    }
}

///////////////////
.lightbox table{height:100%;width:100%}
.lightbox td{vertical-align:middle}
.lightbox-content{
    background-color:#fff;
    width:400px;
    margin:0 auto;
    padding:1px;
    position:relative;
}

.lightbox-body{
    border:1px solid $c44;
    border-top:0;
    padding:10px 30px 30px 30px;
}

.lightbox-head{
    border:1px solid $c44;
    border-bottom:0;
    background-color:$c42;
    h3{
        @extend .f14;
        line-height:30px;
        padding-left:20px;
        margin:0;
    }
}

.lightbox{
    display:none;
    line-height:20px;
    overflow:hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    zoom: 1;
}
i.arrow1{
    background:url(#{$skin_folder}/arrow/arrow1.png) no-repeat;
    display:block;
    width:13px;
    height:7px;
}

i.arrow5{
    background:url(#{$skin_folder}/arrow/arrow5.png) no-repeat;
    display:block;
    width:9px;
    height:5px;
    position:absolute;
    top: 97px;
    left: 85px;
}

i.arrow5h{
    top:2px;
    background:url(#{$skin_folder}/arrow/arrow5h.png) no-repeat;
}

i.arrow4{
    cursor:pointer;
    position:fixed;
    top: 0;
    left: 160px;
    background:$cbg url(#{$skin_folder}/arrow/csb.png) no-repeat 50% 50%;
    opacity:.9;
    // height:67px;
    height:100%;
    width:14px;
    display:block;
}

i.arrow4h{
    left: 0px;
    background-image:url(#{$skin_folder}/arrow/arrow4h.png);
}

@for $i from 1 through 10{
    i.icon#{$i}{
        padding:1px 10px;
        background:url(#{$skin_folder}/icon#{$i}.png) $center;
    }
}

i{
    font-style:normal;
}

b{
    font-weight:normal;
}

td{
    word-wrap:break-word;
    word-break:break-all;
}

th{
    @extend b;
    @extend td;
    vertical-align:top;
    text-align:left;
}

u,s{
    text-decoration:none;
}

.button{
    border:none;
    background:none;
    display:inline-block;
    text-align:center;
    padding:0;
}

.button1{
    color:$c11;
    width:73px;
    height:23px;
    line-height:23px;
}

.button2{
    font-size:14px;
    font-weight:bold;
    color:$c11;
    width:111px;
    height:29px;
    line-height:29px;
}

.button3{
    font-size:16px;
    font-weight:bold;
    color:$c11;
    width:176px;
    height:37px;
    line-height:37px;
}

.button4{
    color:$c11;
    width:103px;
    height:27px;
    line-height:27px;
}

.button5{
    width:59px;
    height:24px;
    line-height:24px;
    color:#fff;
}
.button6{
    width:61px;
    height:30px;
    line-height:30px;
    color:#fff;
}

@for $i from 1 through 7{
    .button#{$i}{
        background-image:url(#{$skin_folder}/button/button#{$i}.png);
    }
}

input.text,textarea,select{
    border:1px solid $bc1;
    background:none;
}

select,input.text{
    background-color:#fff;
    padding:2px;
}

input.checkbox,input.radio{
    vertical-align:text-bottom;
}

input.disabled{
    background-color:$c44;
    border:1px solid $c13;
}

.title{
    margin:0;
    color:$c11;
    margin-bottom:10px;
}

h1.title{
    @extend .f14;
}

h2.title{
    @extend .f12;
}

.table-b1{
    width:100%;
    tr{
        border-top:1px solid $c42;
    }
    td{
        padding:5px 0;
        vertical-align:baseline;
    }
    p{
        margin-bottom:5px;
    }
    input.text{
        width:120px;
        margin:0;
        padding:3px 2px;
    }
    textarea{
        line-height:18px;
        padding:3px 2px;
        width:300px;
        height:100px;
    }

}

input.text9{
    width:90% !important;
}
input.text0{
    width:30px !important;
}
input.text2{
    width:240px !important;
}
input.text3{
    width:360px !important;
}
input.text1{
    width:60px !important;
}
input.text2{
    width:240px !important;
}
input.text3{
    width:360px !important;
}
input.text6{
    width:48px !important;
}

p{
    margin:0;
}

.table-count{
    background-color:$c42;
    margin:5px 0;
    padding:10px;
    border:1px solid $bc1;
}

.pagination{
    border-top:1px solid $c42;
    border-bottom:1px solid $c42;
    background-color:$c43;
    margin-top:20px;
    padding:10px;
    text-align:center;
    a{
        padding:0 5px;
        color:$c12;
    }
    .current{
        @extend .red;
        font-weight:bold;
    }
}

.table-buttons{
    margin-top:40px;
    margin-bottom:10px;
    .button{
        background-color:$c24;
        border-radius:3px;
        color:$c22;
        border:none;
    }
}

.table-b2{
    width:100%;
    .thead{
        background-color:$c43;
        td{
            border:1px solid $bc1;
            white-space:nowrap;
        }
    }
    td{
        padding:5px;
        vertical-align:inherit;
    }
    tr{
        border-bottom:1px solid $bc1;
    }
}

.table-b3{
    width:100%;
    td{
        vertical-align:baseline;
        padding:10px;
        border:1px solid $c44;
    }
    th{
        white-space:nowrap;
        vertical-align:baseline;
        width:100px;
        background-color:$c43;
        border:1px solid $c44;
    }
}

.table-b4{
    @extend .table-b3;
}


.table-b5{
    img{
        vertical-align:middle;
        margin-bottom:5px;
    }
    td{
        padding:5px 10px;
    }
    width:100%;
    border-top:1px solid $c44;
    .thead{
        @extend .gray-title;
        td{
            line-height:30px;
            padding:0 0 0 10px;
            border:1px solid $c44;
            font-weight:bold;
        }
    }
    .meta-row td,.info-row td{
        padding:0;
    }
    .info{
        span{
            padding-right:20px;
        }
        padding:0 20px;
        margin-bottom:20px;
        border-bottom:3px solid $c26;
        background-color:$c43;
        line-height:40px;
        .btn{
            cursor:pointer;
            float:right;
            height:20px;
            *margin-top:-40px;
            _margin-top:-35px;
        }
    }
    .loaded .info{
        display:none;
    }
}

.table-b6{
    th{
        text-align:right;
        width:70px;
    }
    @extend .table-b5;
    border-top:none;
}
.table-b7{
    td{
        vertical-align:baseline;
        padding:5px;
        padding-left:0;
    }
}

i.close{
    font-size:12px;
    font-size:18px \9;
    _font-size:12px;
    cursor:pointer;
    position:absolute;
    right:10px;
    top:7px;
}

.center{
    text-align:center;
}

h3.gray-title{
    @extend .f12;
    line-height:34px;
    padding-left:20px;
    margin:0;
    border-bottom:1px solid $c44;
}

tr.even{
    background-color:$c25;
}

.block{
    overflow:hidden;
    zoom:1;
    border:1px solid $c44;
}

.center{
    text-align:center;
}

.console-screen{
    center{
        margin:15px 0;
    }
    width:510px;
    margin-right:20px;
    textarea{
        line-height:16px;
        color:$c13;
        width:500px;
        height:240px;
        background-color:#000;
        font-family:monospace;
    }
}

ul,dl,ol,h5,h6,li{
    padding:0;
    margin:0;
}
li{
    list-style:none;
}
.validator{
    @extend .red;
}
.cart{
    position:absolute;
    top:25px;
    right:20px;
    a{
        color:#fff;
    }
    i{
        padding:5px 10px;
    }
}
.hidden{
    display:none;
}
.price{
    font-family:arial;
}
fieldset{
    margin:0;
    padding:0;
    border:none;
}
.vhidden{
    .logo{
        visibility:hidden;
    }
    a{
        background:none !important;
    }
    background:none;
    // visibility:hidden;
}

.loading{
    i{
        *zoom:1;
        padding:3px 10px;
        background:url(#{$skin_folder}/loading.gif) no-repeat 50% 50%;
    }
    span{

    }
    div{
        width:200px;
        border:5px solid #666;
        padding:5px;
    }
}
.bdl{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden!important
}
