@import 'global';

.lightbox2{
    .lightblue-bg{
        border-left:1px solid $c44;
        border-right:1px solid $c44;
        padding:10px 30px;
    }
    th{
        text-align:right;
    }
    td{
        padding:5px;
    }
}

.xblock p{
    padding-bottom:10px;
}

.lightbox-ckzc .lightbox-content{
    width:660px;
    .table1{
        td{
            padding:5px 10px;
        }
        border:1px solid $c44;
        margin-bottom:10px;
    }
    .table2{
        margin-bottom:10px;
        th{
            width:100px;
            text-align:right;
            @extend .lightblue-bg;
        }
        td{
            width:200px;
            padding:5px 10px;
            border:1px solid $c44;
        }
    }
}

/////////////////////////
.table1-tjyqhf{
    .tcol1{
        width:70px;
    }
}
////////////////////////
.table1-yqhf{
    .tcol1{
        width:200px;
    }
    .tcol2{
        width:340px;
    }
}

.table2-yqhf{
    .tcol1{
        width:60px;
    }
}
////////////////////////
.table2-kgzc{
    border-top:1px solid $c42;
    width:100%;
    td,th{
        padding:8px;
    }
    .tcol1{
        width:130px;
    }
    .tcol2{
        width:200px;
    }
    .tcol3{
        width:65px;
    }
}
.table1-kgzc .tcol1{
    width:100px;
}

//////////////////////////
.table1-zcck{
    .tcol1{
        width:200px;
    }
    .tcol2{
        width:360px;
    }
}
.table2-zcck{
    .tcol1{
        width:70px;
    }
}


//////////////////////////
.mo-zclygl .block2{
    width:800px;
}
.table1-zclygl{
    .tcol1{
        width:200px;
    }
    .tcol2{
        width:200px;
    }
    .tcol3{
        width:200px;
    }
}


//////////////////////////
.table1-tfwh{
    .tcol1{
        width:70px;
    }
}

//////////////////////////
.user-info{
    background-color:$c51;
}
.table1-pnrmyd{
    width:100%;
    .tcol1{
    }
    .tcol2{
        width:130px;
    }
    td{
        border-bottom:1px solid $c44;
        padding:10px;
    }
    a{
        color:$c11;
    }
}


.mo-pnrmyd{
    .block1{
        center{
            margin:30px 0;
        }
        margin-bottom:15px;
    }
    .block2{
        border-bottom:0;
        .block-head{
            position:relative;
            .time{
                font-weight:bold;
                position:absolute;
                right:40px;
                top:7px;
            }
            border-bottom:1px solid $c44;
        }
    }
    .user-info{
        padding:10px 20px;
    }
}



/////////////////////
.mo-tjzc{
    .gray-title{
        border-bottom:1px solid $c44;
    }
}

////////////////////
.mo-ddgl{
    .table-b2{
        border-top:1px solid $c44;
    }
    .block1{
        margin-bottom:20px;
        .center{
            padding:10px;
        }
    }
    div.center{
        margin:10px;
    }
    .block2{
        .block-head{
            @extend .gray-title;
            margin-bottom:10px;
            border-bottom:1px solid $c44;
        }
    }
    .table-b3{
        border-bottom:1px solid $c44;
    }
}


//////////////////
.simple-btn{
    cursor:pointer;
    background:#fff;
    border:1px solid #666;
    padding:2px;
    text-decoration:none;
    color:#333;
    outline:none;
    hlbr:expression(this.onFocus=this.blur());
}
.mo-tjdd{
    .CustomerAdd{
        @extend .simple-btn;
    }
    .CustomerDel{
        float:right;
        margin-top:-50px;
        margin-right:5px;
        @extend .simple-btn;
    }
    .block{
        margin-bottom:15px;
    }
    .gray-title{
        border-bottom:1px solid $c44;
    }

    table {
        width:100%;
    }

    input.text{
        width:115px;
    }

    select{
        background-color:#fff;
        width:120px;
    }
}


////////////////////
.table1-pnrcjdd{
    border-bottom:1px solid $c44;
}
.mo-pnrcjdd{
    .metas{
        padding:5px;
        .col2{
            float:right;
        }
    }
    .block1{
        margin-bottom:15px;
        padding:2px;
        .col2{
            margin-left:510px;
            padding-right:20px;
            center{
                @extend .f14;
                margin:10px 0;
            }
            float:none;
            line-height:24px;
        }
    }
    .block2{
        .col1{
            center{
                margin:25px 0;
            }
            width:510px;
        }
        .col2{
            min-height:200px;
            border-left:1px solid $c44;
            line-height:24px;
            margin-left:510px;
            padding:5px 20px;
            float:none;
        }
    }
}


////////////////////
.mo-jptj .block2{
    border-top:0;
}
.mo-jptj .xblock{
    margin-bottom:10px;
}
.mo-jptj{
    select{
        width:130px;
    }

    .dropdown{
        float:right;
        position:relative;
        height:20px;
    }
    .box{
        position:absolute;
        width:100px;
        height:200px;
        overflow-y:scroll;
        top:20px;
        right:0;
        display:none;
        line-height:26px;
        padding:0 10px;
        border:1px solid $c44;
        @extend .lightblue-bg;
    }
}

/////////////////
.mo-fpxxcx{
    .gray-title{
        border-bottom:1px solid $c44;
    }
    p{
        padding:10px;
    }
    .table-b2{
        border-top:1px solid $c44;
    }
}

//////////////////
.mo-tjdd{
    @extend .mo-ddxq;
    .table5-tjdd{

    }
    textarea{
        width:400px;
        height:100px;
        margin-bottom:10px;
    }
}
.table3-tjdd{
    th{
        text-align:right;
    }
    td{
        line-height:18px;
        vertical-align:baseline;
        padding:5px;
    }
}
.table4-tjdd{
    border-bottom:1px solid $c44;
}

.table2-tjdd{
    caption{
        padding:10px;
        font-weight: bold;
        border-bottom:1px solid $c44;
        text-align: left;
    }
}

//////////////////
.mo-ddxq{
    .block7{
        .tcol1{

        }
        .tcol2{
            width:200px;
        }
        .tcol3{
            width:200px;
        }
        table{
            width:100%;
            td{
                padding:10px;
                border:1px solid $c44;
            }
            th{
                font-weight:bold;
                background-color:$c43;
            }
        }
    }
    .block9{
        table{
            width:800px;
        }
    }

    .block{
        margin-bottom:10px;
        p{
            line-height:20px;
            padding:5px 20px;
        }
    }
    .gray-title{
        border-bottom:1px solid $c44;
    }

    .block3{
        .lightblue-bg{
            border-top:1px solid $c44;
        }
    }
    .block4{
        .lightblue-bg{
            label{
                padding-right:40px;
            }
            border-bottom:1px solid $c44;
        }
    }

}
.table2-ddxq{
    th{
        background-color:$c43;
        border-right:1px solid $c44;
    }
}
.table4-ddxq{
    margin-left:30px;
    margin-bottom:10px;
    width:500px;
    td{
        padding:5px;
    }
}
.table3-ddxq{
    width:600px;
    th{
        text-align:right;
    }
    th,td{
        padding:10px;
    }
}


/////////////////
.mo-hbcx{
    .block1{
        margin-bottom:20px;
    }
    .block2{
        border:none;
    }
    .table-b4{
        border-bottom:1px solid $c44;
    }
    .block1 .center{
        padding:10px;
    }

    .more-h{
        position:absolute;
        background-color:$c25;
        display:block;
        right:0;
        top:0;
        border:2px solid $c26;
        border-bottom:0;
        text-align:center;
        width: 130px;
        height: 25px;
        line-height: 30px;
    }
}

////////////////
.mo-xxzc {
    .table-b4{
        border-bottom:1px solid $c44;
    }
    .block1{
        .center{
            margin:10px 0;
        }
        margin-bottom:20px;
    }


}

/////////////////
.mo-fdgl{
    .block2{
        border-top:0;
    }
    .xblock{
        margin-bottom:10px;
        .button{
            padding:2px 8px;
            border:1px solid $c21;
            background-color:$c24;
        }
    }
}

//////////////////////
.dancheng-ajax-wrapper{
    background-color:$c25;
    text-align:right;
    span{
        display:inline-block;
        zoom:1;
        padding-right:20px;
    }
    line-height:40px;
    border:2px solid $c26;
    border-bottom:3px solid $c26;
    margin-bottom:20px;
}
.dancheng-ajax-info{
    border-bottom:1px dashed $c26;
}

.wangfan-ajax-info{
    @extend .dancheng-ajax-info;
}

.wangfan-ajax-wrapper{
    float:right;
    width:400px;
    background-color:$c25;
    text-align:right;
    span{
        display:inline-block;
        zoom:1;
        padding-right:20px;
    }
    line-height:40px;
    border:2px solid $c26;
    border-bottom:3px solid $c26;
    margin-bottom:20px;
}

.console-screen{
    center{
        margin:15px 0;
    }
    width:510px;
    margin-right:20px;
    textarea{
        line-height:16px;
        color:$c13;
        width:500px;
        height:240px;
        background-color:#000;
        font-family:monospace;
    }
}

//////////////////////
.mo-zcdr{
    .gray-title{
        border-bottom:1px solid $c44;
    }
    p{
        padding:20px;
    }
}

//////////////////////
.mo-zctj{
    .gray-title{
        border-bottom:1px solid $c44;
    }
    .block-i{
        padding:5px 10px;
        padding-bottom:20px;
        border-bottom:1px dotted $c44;
    }
    table{
        th{
            white-space:nowrap;
            text-align:right;
        }
        td{
            padding:5px;
            vertical-align:baseline;
        }
    }
    .table1{
    }
    .block-i1{
        p{
            padding-left:40px;
            padding-top:10px;
        }
    }
    .block-i2{
        .text{
            width:100px;
        }
        td{
            white-space:nowrap;
        }
    }
    .block-i3{
        border:none;
    }
    textarea{
        width:400px;
        height:50px;
        margin-bottom:5px;
    }

    .center{
        margin:15px 0;
    }
}

.cal-input-focus{
    padding-bottom:8px;
}
.rq-fp{
    display:none;
}
.uploads-box{
    th{
        white-space:nowrap;
    }
    width:100px !important;
}
.table-b1 td{
    padding:5px;
}
.mo-khcx{
    p{
        padding:10px;
    }
    .table-b2{
        border-top:1px solid $c42;
        border-bottom:1px solid $c42;
    }
}
.mo-khcx-ddxq{
    .block-12 .col{
        width:50%;
    }
}

@mixin sf {
    border:1px solid $c41;
    background-color:#fff;
    padding:10px;
    margin-bottom:5px;
}

.add_city_container{
    display:none;
    background-color:$c42;
    border:1px solid $c44;
    padding:10px;
    margin:10px;
    line-height:24px;
    .title{
        color:$c61;
    }
    .yui3-tab-label,.yui3-tabview{
        position:static;
    }
}

.add_city_preview{
    .title{
        color:$c31;
    }
    @include sf;
}

.add_city_tabcontent{
    ul{
        overflow:hidden;
        zoom:1;
    }
    li{
        margin-right:5px;
        float:left;
        white-space:nowrap;
        width:140px;
        overflow:hidden;
        text-overflow:ellipsis;
        zoom:1;
    }
    @include sf;
}
.add_city_tab{
    margin-bottom:5px;
    label{
        font-size:14px;
        margin-right:20px;
        font-weight:bold;
        line-height:20px;
        display:block;
    }
    overflow:hidden;
    zoom:1;
    label,ul,li{
        float:left;
    }
    li{
        margin-right:5px;
    }
    a{
        color:#333;
        background-color:$c41;
        text-decoration:none;
    }
    .yui3-tab-selected a{
        color:#fff;
        background-color:$c22;
    }
}
.add_city_block,.add_city_xblock{
    .button{
        background-color:$c23;
        color:#fff;
        padding:2px 5px;
    }
}
.add_city_xblock{
    @include sf;
}
.add_city_preview{
    overflow:hidden;
    zoom:1;

}
.add_city_preview li{
    float:left;
    margin-right:5px;
    border:1px solid $c11;
    margin-bottom:5px;
    width:40px;
    text-align:center;
}
.add_city_confirm{
    text-align:right;
    @include sf;
}
.yui3-aclist{
    position:relative;
}
.validate_berth{
    .pass{
        color:$c31;
    }
    .error{
        color:$c61;
    }
    .msg{
        font-weight:bold;
        color:$c61;
    }
}
label.button{
    line-height:14px;
    cursor:pointer;
}
.yui3-aclist-item{
    *display:block !important;
    *margin-bottom:-3px;
}
.scroll-panel{
    overflow-x:auto;
    table{
        min-width:100%;
        width:auto; 
    }
    .thead td{
        width:1%; 
    } 
    td{
        white-space:nowrap; 
    }
}
