@import 'global';
td .timepicker{
    width:65px;
}
.mo-pnrdr{
    .block1{
        .block-body{
            padding-top:0px; 
        }
        .block-i{
            margin:10px;
        }
        .block-i1{
            border-bottom:1px solid $c44; 
            padding:5px 0 5px 0px;
        }
        .block-i2{

        }
    }
}
.warn{
    border:1px solid #FDD683;
    background-color:#FFF7EC;
    padding:10px;
    margin:10px 0;
}
.warn-yellow{
    background-color:#FEFDC5;
}
.warn-blue{
    background-color:#E7F8FF;
    border-color:#C3EDFA;
}

.gray-title{
    border-bottom:1px solid $c44; 
}
.console-screen textarea{
    height:203px;
    margin-bottom:10px;
    color:$c34;
}
.notep{
    margin-top:20px;
    line-height:20px;
}
h3.gray-title{
    @extend .f14;
}

.mo-hbcx{
    .block{
        margin-bottom:10px; 
    }
    .block2{
        .block-body{
            padding:0 10px; 
        }
        .description{
            margin-bottom:10px; 
        }
    }
    .xblock{
        position:relative;
        width:100%;
        margin-top:-10px;
        margin-left:-10px;
        p{
            padding:12px 20px;
            background-color:$c43; 
        }
        padding-bottom:1px;
        border-bottom:1px solid $c41;
        margin-bottom:5px;
    }
    .table-b5{
        margin:10px;
        border:none; 
        td{
            vertical-align:baseline;
            padding:5px; 
        }
    }
}

.search-list{
    margin-bottom:10px;
    .sjx{
        padding-left:26px; 
    }
    .jx{
        color:$c23; 
        border-bottom:1px dashed $c23;
    }
    .even{
        background-color:#eee; 
    }
    tr{
        border-color:#ddd; 
    }
    .more,.tgq{
        @extend .blue; 
    }
    .block-i-head{
        .price{
            font:bold 16px arial; 
            color:$c62;
        }
        border-bottom:2px solid #3598CD;
        margin-bottom:10px;
        li{
            float:left;
            width:90px;
            margin:0 5px;
            border:2px solid #ECECEC;
            border-bottom:0;
            padding:3px 0;
            height:35px;
        } 
        .current{
            position:relative;
            border-color:#3598CD;
            a{
                padding:3px 0;
                position:absolute;
                top:0;
                display:block; 
                height:40px;
                width:100%;
                background:#fff url(#{$skin_folder}/repeat1.png) repeat-x;
            }
        }
        a{
            display:block; 
            text-decoration:none; 
        }
        span{
            color:#000;
            text-align:center;
            display:block; 
        }
    }
    .thead td{
        border:1px solid #7aafe4;
        background-color:#eff8ff; 
        text-align:center;
    }
    .table-b2{
        border-top:1px solid #8DBEDE;
        table{
            tr{
                border:none; 
            }     
        }
    }
}
.mo-tjdd{
    .add-passenger{
        margin:10px; 
    }
    .table-insurance{
        background-color:#E6F4FF;
        td{
            padding:10px;
            vertical-align:baseline; 
        } 
        th{
        }
    }
    .dpr{
        background-color:#eee;
        td{
            vertical-align:baseline; 
            padding:10px;
        } 
    }
}

.mo-ddxq{
    .center{
        margin:20px 0; 
    }
    .xblock1{
        position:relative;
        width:100%;
        margin-top:-10px;
        margin-left:-10px;
        p{
            padding:12px 20px;
            background-color:$c43; 
        }
        padding-bottom:1px;
        border-bottom:1px solid $c41;
        margin-bottom:5px;
    }
    .xblock2{
        h3{
            padding-bottom:10px;
            margin:20px 0 10px;
            border-bottom:1px solid $c44;
        } 
        margin-bottom:20px;

        td{
            width:200px; 
        }
        th{
            width:60px; 
        }
    }
    .block{
        margin-bottom:10px;
    }
    .block3{
        .meta-row{
            background-color:#FFFCE9;
            color:#999;
            td{
                padding:20px; 
            }
        }
    }
    .gdzc{
        padding:10px; 
    }
    .table1{
        td{
            vertical-align:baseline;  
            padding:10px;
        }
    } 
    .table3{
        td{
            vertical-align:baseline;  
            padding:10px;
        }
    }
    .block5{
        textarea{
            margin:10px; 
            width:400px;
            height:100px;
        } 
    }
    .block6{
         
    }
}
table.pay{
    width:100%;
    background-color:#FEFDC5;
    td{
        padding:10px; 
        width:100px;
    }
    th{
        width:60px; 
    }
}
.yeelo{
    position:relative;
    background-color:#FEFDC5;
    padding-top:5px;
    margin-bottom:5px;
    border-bottom:1px solid $c44;
    .tabs{
        float:left;
        color:#c30;
        li{
            float:left; 
            width:80px;
            height:30px;
            line-height:30px;
            margin:0 10px;
            text-align:center;
        }
        .current{
            background-color:#fff;
            border:1px solid $c44;
        }
    }
    .text{
        position:absolute;
        top:10px;
        right:10px;
    }
}



#id_endCity-list,#id_startCity-list{
    width:250px !important; 
}
.sg_py{
    float:right; 
}
.tabstrip_td{
    position:relative; 
}
.tabstrip{
    position:absolute;
    width:300px;
    top:30px;
    left:5px;
    z-index:100;
    display:none;
    .tcy_list li{
        cursor:pointer;
        color:#333;
        display:inline-block;
        width:60px;
        height:14px;
        line-height:14px;
        margin:5px 5px 5px 0;
        vertical-align:top;
        overflow:hidden;
    }
    dd{
        margin:0;
    }
}
.search_block{
    overflow:visible; 
}
.sel_airlines .k-select{
    z-index:-100;
}
.tabstrip .k-tabstrip-items .k-link{
    padding:5px;
}
.date_empty{
    color:#ddd;
}

