@import 'vars';
$skin_folder:'#{$imgpath}/g';
$cbg:#e2e9ea;
$chead:#396 url(#{$skin_folder}/head.jpg) 100% 100% no-repeat;

body{
    background-color:$cbg;
}
.head{
    background:$chead;
}
.logo{
    background:url(#{$skin_folder}/logo-border.png) 100% 50% no-repeat;
    a{
        background-image:url(#{$skin_folder}/logo.png); 
    }
}
.menu-main{
    a{
        background:url(#{$skin_folder}/menu-main.png) no-repeat;
    }
    .current a{
        background:url(#{$skin_folder}/menu-main-h.png) no-repeat;
    }
}
