$imgpath:'../img';

$center:no-repeat 50% 50%;

//Black
$c11:#333;
$c12:#666;
$c13:#999;

//Blue
$c21:#069;
$c22:#36c;
$c23:#38ace8;
$c24:#cfe6fd;
$c25:#EBF8FE;
$c26:#377AC0;
$c27:#439FD0;
$c28:#D5E8F2;


//Green
$c31:#693;
$c32:#9c6;
$c33:#cf9;
$c34:#0b0;

//Gray
$c41:#d9e4ea;
$c42:#eee;
$c43:#f6f6f6;
$c44:#cecece;

//Red
$c61:#f00;
$c62:#c00;
$c63:#f90;

//Yellow
$c51:#fffcc5;

